.field {
  width: 700px;
  height: 500px;
  border: 1px solid #000000;
  margin: 50px auto;
}

.lemon {
  width: 230px;
  height: 180px;
  background: linear-gradient(to bottom, #f5e827, #aba21b);
  margin: 150px auto;
  border-radius: 53% 68% 60% 57% / 59% 54% 49% 50%;
  box-shadow: 9px 19px 15px 5px #00000045;
  position: relative;
  z-index: 2;
}

.left_side {
  width: 100px;
  height: 50px;
  background: linear-gradient(to bottom, #f5e827, #c4b91f);
  border-radius: 53% 68% 60% 57% / 59% 54% 49% 50%;
  position: relative;
  top: -264px;
  right: -216px;
}

.right_side {
  width: 100px;
  height: 74px;
  background: #f5e827;
  border-radius: 53% 68% 60% 57% / 64% 62% 43% 50%;
  position: relative;
  top: -326px;
  right: -385px;
}

.lemon1 {
  width: 230px;
  height: 180px;
  background: url(../lemon.jpg) repeat;
  opacity: 0.3;
  border-radius: 53% 68% 60% 57% / 59% 54% 49% 50%;
  position: relative;
  top: -453px;
  right: -235px;
  z-index: 3;
}
