* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

div {
  background-color: yellow;
}

header,
footer {
  height: 100px;
}

.block2:hover,
.block3:hover {
  background-color: green;
}

.block1:hover {
  background-color: black;
  color: white;
}

.entity {
  height: 50px;
}

#hero {
  height: 200px;
}

.exercise4 {
  height: 100vh;
  width: 100%;
  background-color: #3c64c2;
  text-align: center;
  margin: 50px 0 0 0;
}

p {
  color: white;
  font-size: 64px;
  position: relative;
  top: 350px;
}

.btn {
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 24px;
  background-color: #ffd500;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  padding: 10px 0 0 0;
  position: relative;
  top: 400px;
  font-weight: 700;
  outline: none;
  transition: box-shadow 1s;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 5px 9px #3ca7c2;
}

/* Task5 */

.container {
  width: 500px;
  margin: 100px auto 0 auto;
  background: #fff;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

label {
  font-size: 18px;
  font-weight: 600;
}

input {
  font-size: 24px;
  width: 500px;
  height: 60px;
  border: 2px solid #ebeaed;
  border-radius: 2px;
  margin: 10px 0 15px 0;
  padding-left: 5px;
}

input:focus {
  border: 2px solid #8daffc;
}

.btn_task5 {
  background: #6400e4;
  width: 100%;
  height: 60px;
  border-radius: 2px;
  color: #fff;
  font-size: 24px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 1s;
}

.btn_task5:hover {
  box-shadow: 0px 9px 18px -3px rgba(27,94,255,0.5);
}

.btn_task5:active {
  position: relative;
  top: 2px;
}
