* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin,
.border,
.padding,
.content {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.margin {
  background: #f1f1f1;
  border: 2px dashed #e0e0e0;
  width: 80rem;
  height: 30rem;
  margin: 2rem;
}

.border {
  background: #4caf50;
}

.padding {
  background: #f1f1f1;
}

.content {
  background: #fff;
  border: 2px dashed #e0e0e0;
}

/* Task5 */

